@model VBRepo.Kontakt
@{
    ViewBag.Title = "AdmButikken";
    Layout = "~/Views/Shared/Adm_Layout.cshtml";
}
<section class="container admKontakt">
    <h2>Rediger kontakt information</h2>

    <form name="myForm" action="/Admin/AdmKontakt/" enctype="multipart/form-data" method="post">


        <table>
            <tr>
                <td>Rediger tider:</td>
                <td><input type="text" id="tider" name="tider" value="@Model.Tider" /></td>
            </tr>
            <tr>
                <td>Rediger Telefon nummer</td>
                <td><input type="text" id="telefon" name="telefon" value="@Model.Telefon" /></td>
            </tr>
            <tr>
                <td>Rediger Email adresse</td>
                <td><input type="text" id="mail" name="mail" value="@Model.Mail" /></td>
            </tr>


        </table>
        <input type="submit" value="Gem" />


        <input type="hidden" id="ID" name="ID" value="@Model.ID" />
    </form>
</section>