@using VBRepo
@model List<Medarbejder>
@{
    ViewBag.Title = "AdmMedarbejder";
    Layout = "~/Views/Shared/Adm_Layout.cshtml";
}


<h2>Opret nyt produkt</h2>
<a href="/Admin/AdmOpredMed/">opret</a>

<h2>Slet eller rediger produkt</h2>
@foreach (var t in Model)
{
    @t.IMG <br />
    @t.Navn<br /> 
    @t.Tekst<br />
    <a href="/Admin/AdmMedarbejderSlet/@t.ID">slet</a><a href="AdmMedarbejderEdit/@t.ID">Rediger</a><br /><hr />
}


