
@{
    ViewBag.Title = "AdmOpredMed";
    Layout = "~/Views/Shared/Adm_Layout.cshtml";

}

<section class="container admOpret">
    <h2>Opret en ny ansat</h2>

    <form action="/Admin/AdmMedarbejderResult/" method="post" enctype="multipart/form-data">

        <table>
            <tr>
                <td>Billede:</td>
                <td><input type="file" name="IMG" id="img" placeholder="billed" /></td>
            </tr>
            <tr>
                <td>Produkt Navn:</td>
                <td><input type="text" id="navn" name="Navn" placeholder="navn" /></td>
            </tr>
            <tr>
                <td>Produkt tekst:</td>
                <td><input type="text" id="tekst" name="Tekst" placeholder="tekst" /></td>
            </tr>
        </table>

        <input onclick="ValidateGem" type="submit" value="Gem" />
        <br />
        <a href="/Admin/AdmMedarbejder">Gå tilbage</a>
    </form>
</section>