
@{
    ViewBag.Title = "Index";
}

<section class="container">
    <div class="offset-by-one six columns">
        <img src="IMG/vidbutikken.jpg" /><hr />
        <h2>Vid Butikken Grenaa</h2>
    </div>
    <div class="four columns">
        <h4>velkommen  til vidbutikken</h4>
        <p>her er lidt info om hvordan vores butik virker. Vi har en aftale med de omkring liggende buttiker hvor vi bliver sponceret med  nogle ting, og det skifter hvert måned. vores ansatte er elever som er i praktik og kan få klaret deres praktik periode ved os</p>
    </div>
</section>
<section class="container">
    <div class="twelve columns">
        <div class="three columns"> <img /> <p></p><link rel="#" /></div>
        <div class="three columns"> <img /> <p></p><link rel="#" /></div>
        <div class="three columns"> <img /> <p></p><link rel="#" /></div>
        <div class="three columns"> <img /> <p></p><link rel="#" /></div>
    </div>
</section>
