
@{
    ViewBag.Title = "Index";
}

<section class="container">
    <div class="offset-by-one six columns">
        <img class="u-max-full-width" src="~/Content/IMG/vidbutikken.jpg" /> <hr />
        <h2>Vid Butikken Grenaa</h2>
    </div>
    <div class="four columns">
        <h4>velkommen  til vidbutikken</h4>
        <p>her er lidt info om hvordan vores butik virker. Vi har en aftale med de omkring liggende buttiker hvor vi bliver sponceret med  nogle ting, og det skifter hvert måned. vores ansatte er elever som er i praktik og kan få klaret deres praktik periode ved os</p>

        <a href="/Index/omos/">Læs mere</a>
    </div>
</section>
<section class="container">
    <div class="twelve columns">
        <div class="three columns"> 
        <img class="u-max-full-width" src="~/Content/IMG/billede-paa-vej.jpg" /><hr />
        <p>her er lidt info om varen</p><hr />
        <a href="/Butik/Vare/">læs mere</a>
        </div>
        <div class="three columns">
            <img class="u-max-full-width" src="~/Content/IMG/billede-paa-vej.jpg" /><hr />
            <p>her er lidt info om varen</p><hr />
            <a href="/Butik/Vare/">læs mere</a>
        </div>
        <div class="three columns">
            <img class="u-max-full-width" src="~/Content/IMG/billede-paa-vej.jpg" /><hr />
            <p>her er lidt info om varen</p><hr />
            <a href="/Butik/Vare/">læs mere</a>
        </div>
        <div class="three columns">
            <img class="u-max-full-width" src="~/Content/IMG/billede-paa-vej.jpg" /><hr />
            <p>her er lidt info om varen</p><hr />
            <a href="/Butik/Vare/">læs mere</a>
        </div>
        
    </div>
</section>
