@using VBRepo
@model VBRepo.IndexVM
@{
    ViewBag.Title = "Index";
}

<section class="container">
    <div class="offset-by-one six columns">
        <img class="u-max-full-width" src="~/Content/IMG/@Model.index.IMG" /> <hr />
        <h2>Vid Butikken Grenaa</h2>
    </div>
    <div class="four columns">
        <h4>velkommen  til vidbutikken</h4>
        <p>@Model.index.Tekst</p>

        <a href="/Index/omos/">Læs mere</a>
    </div>
</section>
<section class="container">
    <div class="twelve columns">
        @foreach (Vare_info v in Model.vare)
        {
            <div class="three columns">
                <img class="u-max-full-width" src="~/Content/IMG/@v.IMG" /><hr />
                <p>@v.Tekst</p><hr />
                <a href="/Butik/Vare/">læs mere</a>
            </div>
        }
      
        
    </div>
</section>
