@model  VBRepo.Kontakt
@{
    ViewBag.Title = "Kontakt";
}

<div class="container">
    <div class="six columns">
        <h1>Kontakt os</h1>
        <h3>åbningstider</h3>
        @Model.Tider
        <br />
        <h3>Telefon</h3>
        <p>@Model.Telefon</p>
        <h3>Email</h3>
        <br />
        <p>@Model.Mail</p>
    </div>
    <div class="six columns">
        @Html.Raw(Model.Map)
    </div> 
</div>


