
@{
    ViewBag.Title = "Kontakt";
}

<div class="container">
    <div class="six column">
        <h1>Kontakt os</h1>
        <h3>åbningstider</h3>
        <p>mandag - fredag: 10:00 - 17:00</p>
        <p>lørdag: 10:00 - 15:00</p>
        <p>søndag: lukket</p>
        <br />
        <h3>Telefon</h3>
        <p>12 34 56 78</p>
        <h3>Email</h3>
        <br />
        <p>vidbutik@gmail.com</p>
    </div>
    <div class="six column">

    </div> 
</div>


