
@{
    ViewBag.Title = "Kontakt";
}

<h1>Kontakt os</h1>
<div class="container">
    <h3>åbningstider</h3>
    <p>mandag - fredag: 10:00 - 17:00</p>
    <p>lørdag: 10:00 - 15:00</p>
    <p>søndag: lukket</p>
</div>
<div class="container">
    <h3>Telefon</h3>
    <p>12 34 56 78</p>
</div>
<div class="container">
    <h3>Email</h3>
    <p>vidbutik@gmail.com</p>
</div>


