
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Adm_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="offset-by-five two columns">
            <form action="/Index/Login" method="post">
                email:
                <br />
                <input type="email" name="email" />
                <br />
                password:
                <br />
                <input type="password" name="password" />
                <br />
                <input type="submit" value="Log-in" />
            </form>
        </div>
    </div>
</body>
</html>

