
@{
    ViewBag.Title = "mereinfo";
}

<section class="container">
    <div class="seven columns">
        <img src="~/Content/IMG/billede-paa-vej.jpg" class="u-max-full-width" />
    </div>
    <div class="four columns">
        <h2>Vare Navn eller produkt code</h2><br />
        <p>her kommer der en smule text om hvad det er for et produkt og mere</p><br />
        <div>
            <div class="one"><p>Price: 500 DKK</p></div>
            <div class="three"><button>Køb nu</button><br /><button>Læg i kurv</button></div>
        </div>
    </div>
</section>
<section class="container">
    <div class="offset-by-seven four columns"><h3>Afhentning</h3><br /><p>der kan hentes i hele buttikkens åbnings periode</p> <br /> <p>betaling</p> 
        <img src="~/Content/IMG/cards.png" class="u-max-full-width" />
    </div>
</section>


