
@{
    ViewBag.Title = "mereinfo";
}

<section class="container">
    <div class="seven columns"><img /></div>
    <div class="four columns">
        <h2></h2><br />
        <p></p><br />
        <div class="container">
            <div class="two"><p></p></div>
            <div class="two"><button></button><br /><button></button></div>
        </div>
    </div>
</section>
<section class="container">
    <div class="offset-by-seven four columns"><h3></h3><br /><p></p> <br /> <p></p> <img /></div>
</section>


