
@{
    ViewBag.Title = "omos";
}

<div class="container">
    <div class="five columns">
<img src="~/Content/IMG/billede-paa-vej.jpg" class="u-max-full-width" /></div>
    <div class="seven columns"><p>her kommer der en hel masse tekst om hvordan virksomheden operere og alt sådan noget</p></div>
</div>
<section class="container">
    <div class="six columns">
    <img src="~/Content/IMG/billede-paa-vej.jpg" class="u-max-full-width" />
    <h4>her er noget text om  evt en ansat</h4>
    </div>
    <div class="six columns">
        <img src="~/Content/IMG/billede-paa-vej.jpg" class="u-max-full-width" />
        <h4>her er noget text om  evt en ansat</h4>
    </div>
</section>


