
@{
    ViewBag.Title = "omos";
}

<div class="container">
    <div class="five columns"><img /></div>
    <div class="seven columns"><p></p></div>
</div>
<section class="container">
    <div class="six columns"><img /><h4></h4></div>
    <div class="six columns"><img /><h4></h4></div>
</section>


