@using VBRepo
@model List<Vare_info>
@{
    ViewBag.Title = "butikken";
}

<section class="container Butikken">

    @foreach (Vare_info v in Model)
    {
    <div class="Vare">
        <img src="~/Content/IMG/@v.IMG"/>
        <h4>@v.Navn</h4>
        <p>@v.Tekst</p>u
        <hr />
        <p>@v.Pris kr</p>
        <a href="/Butik/Vare/@v.ID">Læs mere</a>
    </div>


    }
</section>

