
@{
    ViewBag.Title = "butikken";
}

<section class="container">
    <div class="five columns"><img /></div>
    <div class="six columns"><p></p> <link rel="#" /></div>
</section>
<section class="container">
    <div class="five columns"><img /></div>
    <div class="six columns"><p></p> <link rel="#" /></div>
</section>
<section class="container">
    <div class="five columns"><img /></div>
    <div class="six columns"><p></p> <link rel="#" /></div>
</section>


