
@{
    ViewBag.Title = "butikken1";
}

<section class="container">
    <div class="three columns"><img /><p></p><link rel="#" /></div>
    <div class="three columns"><img /><p></p><link rel="#" /></div>
    <div class="three columns"><img /><p></p><link rel="#" /></div>
    <div class="three columns"><img /><p></p><link rel="#" /></div>
</section>
<section class="container">
    <div class="three columns"><img /><p></p><link rel="#" /></div>
    <div class="three columns"><img /><p></p><link rel="#" /></div>
    <div class="three columns"><img /><p></p><link rel="#" /></div>
    <div class="three columns"><img /><p></p><link rel="#" /></div>
</section>

