@import "Variabler.less";

.Butikken {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .Vare {
        margin: 2%;
        width: 25%;

        img {
            width: 100%;
        }

        p {
            display: inline;
        }

        a {
            float: right;
        }
    }
}
