@import "Variabler.less";

.Kurv {
    &-overskrifter {
        td {
            font-weight: bold;
        }
    }
}

.slet {
    width: 30px;
    padding: 0;
}

.sub, .add {
    width: 30px;
    padding: 0;
}

.add {
    a {
        float: right;
    }
}

.i-alt {
    span {
        text-align: center;
    }
}

.antal {
    width: 35px;
    text-align: center;
}

.tilbage {
    text-decoration: none;

    span {
        font-size: 30px;
    }
}


.BannerKurv {

    img {
        height: 50px;
        display: block;
    }

    a {
        &:last-of-type {
            margin-left: 5px;
        }
    }
}
