@import "Variabler.less";

.Kurv {
    &-overskrifter {
        td {
            font: bold;
        }
    }
}

.BannerKurv {
    a {
        img {
            height: 50px;
            display:block;
        }
        &:last-of-type{
            margin-left:5px;
        }
    }
}