header {
  min-height: 125px;
}
header img {
  height: 150px;
}
.main_nav {
  display: flex;
  justify-content: space-around;
}
.main_nav a {
  margin-top: 7%;
  font-size: 24px;
  color: #73B4D2;
}
footer {
  padding: 15px 0;
}
footer div {
  margin-top: 10%;
}
footer ul {
  list-style: none;
}
footer ul li img {
  height: 200px;
}
.Ansate {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
.Medarbejder {
  width: 33%;
}
.Medarbejder img {
  width: 45%;
}
.Medarbejder h4 {
  font-size: 30px;
}
.Medarbejder p {
  font-size: 20px;
}
.Butikken {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Butikken .Vare {
  margin: 2%;
  width: 25%;
}
.Butikken .Vare img {
  width: 100%;
}
.Butikken .Vare p {
  display: inline;
}
.Butikken .Vare a {
  float: right;
}
.Single-vare p {
  display: inline;
  margin: 0;
}
.Single-vare .Vare-info p:first-of-type {
  margin-bottom: 10px;
  display: inline-block;
}
.Single-vare .Vare-info .pris {
  text-decoration: underline;
}
.Kurv-overskrifter td {
  font-weight: bold;
}
.slet {
  width: 30px;
  padding: 0;
}
.sub,
.add {
  width: 30px;
  padding: 0;
}
.add a {
  float: right;
}
.i-alt span {
  text-align: center;
}
.antal {
  width: 35px;
  text-align: center;
}
.tilbage {
  text-decoration: none;
}
.tilbage span {
  font-size: 30px;
}
.BannerKurv img {
  height: 50px;
  display: block;
}
.BannerKurv a:last-of-type {
  margin-left: 5px;
}
#Submit {
  float: left;
}
#message {
  margin: 7px 35px;
  display: none;
  float: left;
}
.Kontakt form table {
  margin-bottom: 1rem;
}
.Kontakt form table tr td {
  border-bottom: 0;
  padding: 5px 15px 5px 0;
}
.Kontakt form table tr td:first-child {
  padding-bottom: 5px;
}
.Kontakt form table tr td textarea {
  width: 100%;
  height: 140px;
}
.nav_container {
  display: none;
}
@media screen and (max-width: 750px) {
  body {
    padding-top: 10px;
  }
  .main_nav,
  .BannerKurv,
  .MobilHide {
    display: none;
  }
  .header img {
    height: 100%;
  }
  .container {
    width: 100%;
    padding: 10px;
  }
  #MobileKurv {
    padding: 10px;
  }
  #MobileKurv img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
  }
  #MobileKurv span {
    float: left;
  }
  #MobileKurv span:last-child {
    margin-bottom: 10px;
  }
  #MobileKurv a {
    margin-right: 175px;
    float: right;
    padding: 0;
    display: inline;
  }
  .Butikken .Vare {
    width: 90%;
  }
  .Medarbejder {
    width: 90%;
    margin: 0 auto;
  }
  .nav_container {
    margin-bottom: 0;
    display: inline-block;
    position: relative;
    height: 50%;
    width: 100%;
    right: -10px;
    -webkit-transition: right 0.4s ease-in-out;
    -moz-transition: right 0.4s ease-in-out;
    -o-transition: right 0.4s ease-in-out;
    transition: right 0.4s ease-in-out;
  }
  .nav_container .main-menu-content {
    height: 50%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
  }
  .nav_container .main-menu-content .content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 60px;
    width: 100%;
  }
  .nav_container .main-menu-content .content h1 {
    font-weight: 100;
  }
  .nav_container .main-menu-content .content p {
    width: 100%;
    line-height: 160%;
  }
  .nav_container .main-menu-content #sidebar-toggle {
    background: #fff;
    border: 1px solid black;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
  }
  .nav_container .main-menu-content #sidebar-toggle .bar {
    display: block;
    width: 25px;
    margin-bottom: 6px;
    height: 2px;
    background-color: #000000;
    border-radius: 1px;
  }
  .nav_container .main-menu-content #sidebar-toggle .bar:last-child {
    margin-bottom: 0;
  }
  .nav_container.open-sidebar {
    right: 240px;
  }
  .swipe-area {
    position: absolute;
    width: 50px;
    right: 0;
    top: 15px;
    height: 100%;
    z-index: 01;
    margin-left: 5px;
  }
  #sidebar {
    background: gray;
    position: absolute;
    width: 240px;
    right: -240px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    border-radius: 5px 0 0 5px;
  }
  #sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #sidebar ul li {
    margin: 0;
    border-bottom: 1px solid #fff;
  }
  #sidebar ul li:last-child {
    border-bottom: none;
  }
  #sidebar ul li ul li {
    border-bottom: none;
    margin: 5px 0 5px 30px;
    list-style: disc;
  }
  #sidebar ul li ul li a {
    padding: 0;
  }
  #sidebar ul li ul li:first-child {
    margin-top: 0;
  }
  #sidebar ul li ul li:last-child {
    margin-bottom: 15px;
  }
  #sidebar ul li a {
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }
}