header {
  min-height: 125px;
}
header img {
  height: 150px;
}
.main_nav {
  display: flex;
  justify-content: space-around;
}
.main_nav a {
  margin-top: 7%;
  font-size: 24px;
  color: #73B4D2;
}
footer {
  padding: 15px 0;
}
footer div {
  margin-top: 10%;
}
footer ul {
  list-style: none;
}
footer ul li img {
  height: 200px;
}
.Ansate {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
.Medarbejder {
  width: 33%;
}
.Medarbejder img {
  width: 45%;
}
.Medarbejder h4 {
  font-size: 30px;
}
.Medarbejder p {
  font-size: 20px;
}
.Butikken {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Butikken .Vare {
  margin: 2%;
  width: 25%;
}
.Butikken .Vare img {
  width: 100%;
}
.Butikken .Vare p {
  display: inline;
}
.Butikken .Vare a {
  float: right;
}
.Single-vare p {
  display: inline;
  margin: 0;
}
.Single-vare .Vare-info p:first-of-type {
  margin-bottom: 10px;
  display: inline-block;
}
.Single-vare .Vare-info .pris {
  text-decoration: underline;
}
.Kurv-overskrifter td {
  font-weight: bold;
}
.slet {
  width: 30px;
  padding: 0;
}
.sub,
.add {
  width: 30px;
  padding: 0;
}
.add a {
  float: right;
}
.i-alt span {
  text-align: center;
}
.antal {
  width: 35px;
  text-align: center;
}
.tilbage {
  text-decoration: none;
}
.tilbage span {
  font-size: 30px;
}
.BannerKurv img {
  height: 50px;
  display: block;
}
.BannerKurv a:last-of-type {
  margin-left: 5px;
}