@import "Variabler.less";

.Ansate {
    font-size: 20px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

.Medarbejder {
    width: 33%;

    img {
        //width:100%;
    }
}
