@blue: #73B4D2;
@red: #942723;





header {
    min-height: 125px;

    img {
        height: 125px;
    }
}

.main_nav {
    display: flex;
    justify-content:space-around;
    a {
        margin-top:7%;
        font-size: 24px;
        color: @blue;
    }
}

footer {
    padding: 15px 0;

    div {
        margin-top: 10%;
    }

    img {
        //width: 125px;
    }

    ul {
        list-style: none;
        li{
            img{
                height:200px;
            }
        }
    }
}