@blue:#73B4D2;
@red:#942723;





header{
    min-height: 125px;
    img {
        float: left;
        height:125px;
    }
}

.main_nav {
    float: right;

    ul {
        margin-top:44px;
        list-style: none;

        li {
            float:left;
            margin:5px;
            a{
                font-size:24px;
                color:@blue;
            }
        }
    }
}
