<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/skeleton.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/CSS/StyleSheet.css" rel="stylesheet" />
</head>
<body>

<header class="container">
    <img src="~/Content/IMG/Vid-butikken-logo.png" class="offset-by-one two columns" />
    <nav class="main_nav nine">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Webshop</a></li>
            <li><a href="#">Om os</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>
</header>
   
        @RenderBody()

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>