<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/skeleton.css" rel="stylesheet" />
    <link href="~/Content/CSS/MainStyles.css" rel="stylesheet" />
</head>
<body>

<header class="container">
    <div  class="offset-by-one three columns">
        <a href="/Index/Index/">
            <img src="~/Content/IMG/Vid-butikken-logo.png" class="u-max-full-width" />
        </a>
    </div>
    
    <nav class="main_nav offset-by-three five columns">

        <a href="/Index/Index/">Home</a>
        <a href="/Butik/butikken/">Webshop</a>
        <a href="/Index/omos/">Om os</a>
        <a href="/Index/Kontakt/">Kontakt</a>

    </nav>
    <div class="Kurv">
        @{ 
            Html.RenderAction("BannerKurv", "Data");
        }
    </div>
</header>
   
        @RenderBody()


    <footer class="container">
        <div class="three columns">
            <img src="~/Content/IMG/vidbutikken.jpg" class="u-max-full-width"/></div>
        <div class="three columns">
            <ul>
                <li><p>Vid Butikken</p></li>
                <li><p>Århusvej 16</p></li>
                <li><p>8500 Grenaa</p></li>
                <li><p>cvr.nr 38066498</p></li>
            </ul>
        </div>
        <div class="three columns">
            <ul>
                <li><p>Kundeservice</p></li>
                <li><p>Mobil: 4160 1696</p></li>
                <li><p>Telefon: 8758 0407</p></li>
                <li><p>Email: hb@videndjurs.dk</p></li>
            </ul>
        </div>
        <div class="three columns">
            <ul>
                <li><a href="/Index/omos/">Om os</a></li>
                <li><a href="/index/Kontakt/">Kontakt</a></li>
                <li>
                    <img src="~/Content/IMG/korttyper.png" />
                </li>
            </ul>
        </div>  
    </footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>