<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/skeleton.css" rel="stylesheet" />
    <link href="~/Content/CSS/MainStyles.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminStyles/AdminStyles.min.css" rel="stylesheet" />
    <script src="~/Content/MobilMenu.js"></script>
</head>
<body>
    <header class="container">
        <div class="offset-by-one three columns">
            <nav class="nav_container">
                <div id="sidebar">
                    <ul>
                        <li>
                            <a href="/Admin/AdmIndex/">Admin Start</a>
                        </li>
                        <li>
                            <a href="/Admin/AdmButikken/">Edit Butikken</a>
                        </li>
                        <li>
                            <a href="/Admin/AdmMedarbejder/">Edit Ansatte</a>
                        </li>
                        <li>
                            <a href="/Admin/AdmKontakt/">Edit Kontakt</a>
                        </li>
                    </ul>
                </div>
                <div class="main-menu-content">
                    <div class="swipe-area">
                        <a data-toggle=".nav_container" id="sidebar-toggle">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </a>
                    </div>
                </div>
            </nav>
            <a href="/Index/Index/">
                <img src="~/Content/IMG/Vid-butikken-logo.png" class="u-max-full-width" />
            </a>
        </div>

        <nav class="main_nav six columns">

            <a href="/Admin/AdmIndex/">Admin Start</a>
            <a href="/Admin/AdmButikken/">Edit Butikken</a>
            <a href="/Admin/AdmMedarbejder/">Edit Ansatte</a>
            <a href="/Admin/AdmKontakt/">Edit Kontakt</a>

        </nav>

    </header>

    @RenderBody()


    <footer class="container">
        <div class="offset-by-ten two columns">
            <ul>
                <li><a href="/Index/Logud/">log ud</a></li>
            </ul>
        </div>
    </footer>

    @RenderSection("Kontakt", required: false)
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>